
*.pyc
Data_short_complete/RA_RAFW_140807/BSPs.mat
Data/LA_LIPV_150119/BSPs.mat
Data/LA_LIPV_150119/driver_position.mat
Data/LA_LIPV_150119/EGMs.mat
Data/LA_LIPV_150119/labels_video.mp4
Data/LA_LSPV_150113/BSPs.mat
Data/LA_LSPV_150113/driver_position.mat
Data/LA_LSPV_150113/EGMs.mat
Data/LA_LSPV_150113/labels_video.mp4
Data/LA_LSPV_150203/BSPs.mat
Data/LA_LSPV_150203/driver_position.mat
Data/LA_LSPV_150203/EGMs.mat
Data/LA_LSPV_150203/labels_video.mp4
Data/LA_PLAW_140612/BSPs.mat
Data/LA_PLAW_140612/driver_position.mat
Data/LA_PLAW_140612/EGMs.mat
Data/LA_PLAW_140612/labels_video.mp4
Data/LA_PLAW_140711_arm/BSPs.mat
Data/LA_PLAW_140711_arm/driver_position.mat
Data/LA_PLAW_140711_arm/EGMs.mat
Data/LA_PLAW_140711_arm/labels_video.mp4
Data/LA_RIPV_150121/BSPs.mat
Data/LA_RIPV_150121/driver_position.mat
Data/LA_RIPV_150121/EGMs.mat
Data/LA_RIPV_150121/labels_video.mp4
Data/LA_RSPV_150113/BSPs.mat
Data/LA_RSPV_150113/driver_position.mat
Data/LA_RSPV_150113/EGMs.mat
Data/LA_RSPV_150113/labels_video.mp4
Data/LA_RSPV_CAF_150115/BSPs.mat
Data/LA_RSPV_CAF_150115/driver_position.mat
Data/LA_RSPV_CAF_150115/EGMs.mat
Data/LA_RSPV_CAF_150115/labels_video.mp4
Data/RA_RAA_141216/BSPs.mat
Data/RA_RAA_141216/driver_position.mat
Data/RA_RAA_141216/EGMs.mat
Data/RA_RAA_141216/labels_video.mp4
Data/RA_RAA_141230/BSPs.mat
Data/RA_RAA_141230/driver_position.mat
Data/RA_RAA_141230/EGMs.mat
Data/RA_RAA_141230/labels_video.mp4
Data/RA_RAFW_140807/BSPs.mat
Data/RA_RAFW_140807/driver_position.mat
Data/RA_RAFW_140807/EGMs.mat
Data/RA_RAFW_140807/labels_video.mp4
Data/RA_RAFW_SAF_140730/BSPs.mat
Data/RA_RAFW_SAF_140730/driver_position.mat
Data/RA_RAFW_SAF_140730/EGMs.mat
Data/RA_RAFW_SAF_140730/labels_video.mp4
Data/Simulation_01_190502_001_003/EGMs.mat
Data/Simulation_01_190502_001_004/EGMs.mat
Data/Simulation_01_190502_001_005/EGMs.mat
Data/Simulation_01_190502_001_006/EGMs.mat
Data/Simulation_01_190619_001_001/EGMs.mat
Data/Simulation_01_190619_001_002/EGMs.mat
Data/Simulation_01_190619_001_003/EGMs.mat
Data/Simulation_01_190619_001_004/EGMs.mat
Data/Simulation_01_190717_001_001/EGMs.mat
Data/Simulation_01_190717_001_002/EGMs.mat
Data/Simulation_01_190717_001_003/EGMs.mat
Data/Simulation_01_190717_001_004/EGMs.mat
Data/Simulation_01_191001_001_001/EGMs.mat
Data/Simulation_01_191001_001_002/EGMs.mat
Data/Simulation_01_191001_001_005/EGMs.mat
Data/Simulation_01_191001_001_007/EGMs.mat
Data/Simulation_01_200212_001_  1/EGMs.mat
Data/Simulation_01_200212_001_  2/EGMs.mat
Data/Simulation_01_200212_001_  4/EGMs.mat
Data/Simulation_01_200212_001_  5/EGMs.mat
Data/Simulation_01_200212_001_  6/EGMs.mat
Data/Simulation_01_200212_001_  7/EGMs.mat
Data/Simulation_01_200212_001_  8/EGMs.mat
Data/Simulation_01_200212_001_  9/EGMs.mat
Data/Simulation_01_200212_001_ 10/EGMs.mat
Data/Simulation_01_200316_001_  1/EGMs.mat
Data/Simulation_01_200316_001_  2/EGMs.mat
Data/Simulation_01_200316_001_  3/EGMs.mat
Data/Simulation_01_200316_001_  4/EGMs.mat
Data/Simulation_01_200316_001_  5/EGMs.mat
Data/Simulation_01_200316_001_  6/EGMs.mat
Data/Simulation_01_200316_001_  7/EGMs.mat
Data/Simulation_01_200316_001_  8/EGMs.mat
Data/Simulation_01_200316_001_  9/EGMs.mat
Data/Simulation_01_200316_001_ 10/EGMs.mat
Data/Simulation_01_200428_001_001/EGMs.mat
Data/Simulation_01_200428_001_002/EGMs.mat
Data/Simulation_01_200428_001_003/EGMs.mat
Data/Simulation_01_200428_001_004/EGMs.mat
Data/Simulation_01_200428_001_005/EGMs.mat
Data/Simulation_01_200428_001_006/EGMs.mat
Data/Simulation_01_200428_001_007/EGMs.mat
Data/Simulation_01_200428_001_008/EGMs.mat
Data/Simulation_01_200428_001_009/EGMs.mat
Data/Simulation_01_200428_001_010/EGMs.mat
Data/Simulation_01_201223_001_002/EGMs.mat
Data/Simulation_01_210119_001_001/EGMs.mat
Data/Simulation_01_210205_001_002/EGMs.mat
Data/Simulation_01_210205_001_003/EGMs.mat
Data/Simulation_01_210208_001_002/EGMs.mat
Data/Simulation_01_210209_001_001/EGMs.mat
Data/Simulation_01_210209_001_002/EGMs.mat
Data/Simulation_01_210209_001_003/EGMs.mat
Data/Simulation_01_210210_001_001/EGMs.mat
Data/Sinusal_150629/BSPs.mat
Data/Sinusal_150629/driver_position.mat
Data/Sinusal_150629/EGMs.mat
Data/Sinusal_150629/labels_video.mp4
Data/torso_electrodes.mat
Data/TwoRotors_181219/BSPs.mat
Data/TwoRotors_181219/driver_position.mat
Data/TwoRotors_181219/driver_position_2.mat
Data/TwoRotors_181219/EGMs.mat
Data/TwoRotors_181219/labels_video.mp4
Data_short/LA_RSPV_CAF_150115/BSPs.mat
Data_short/LA_RSPV_CAF_150115/driver_position.mat
Data_short/LA_RSPV_CAF_150115/EGMs.mat
Data_short/LA_RSPV_CAF_150115/labels_video.mp4
Data_short/RA_RAA_141230/BSPs.mat
Data_short/RA_RAA_141230/driver_position.mat
Data_short/RA_RAA_141230/EGMs.mat
Data_short/RA_RAA_141230/labels_video.mp4
Data_short/torso_electrodes.mat
Data_short_complete/RA_RAFW_140807/driver_position.mat
Data_short_complete/RA_RAFW_140807/EGMs.mat
Data_short_complete/RA_RAFW_140807/labels_video.mp4
Data_short_complete/RA_RAFW_SAF_140730/BSPs.mat
Data_short_complete/RA_RAFW_SAF_140730/driver_position.mat
Data_short_complete/RA_RAFW_SAF_140730/EGMs.mat
Data_short_complete/RA_RAFW_SAF_140730/labels_video.mp4
Data_short_complete/Simulation_01_190502_001_004/EGMs.mat
Data_short_complete/Simulation_01_190619_001_004/EGMs.mat
Data_short_complete/Simulation_01_200212_001_  4/EGMs.mat
Data_short_complete/Simulation_01_200316_001_  1/EGMs.mat
Data_short_complete/Simulation_01_200428_001_001/EGMs.mat
Data_short_complete/Simulation_01_201223_001_002/EGMs.mat
Data_short_complete/Simulation_01_210209_001_002/EGMs.mat
Data_short_complete/TwoRotors_181219/BSPs.mat
Data_short_complete/TwoRotors_181219/driver_position.mat
Data_short_complete/TwoRotors_181219/driver_position_2.mat
Data_short_complete/TwoRotors_181219/EGMs.mat
Data_short_complete/TwoRotors_181219/labels_video.mp4
Labeled_torsos/Torso10_mod.mat
Labeled_torsos/Torso1_mod.mat
Labeled_torsos/Torso2_mod.mat
Labeled_torsos/Torso3_mod.mat
Labeled_torsos/Torso4_mod.mat
Labeled_torsos/Torso5_mod.mat
Labeled_torsos/Torso6_mod.mat
Labeled_torsos/Torso7_mod.mat
Labeled_torsos/Torso8_mod.mat
Labeled_torsos/Torso9_mod.mat
Labeled_torsos_tik/Torso1_mod.mat
Real_data/EDGAR_2014/ECGs.mat
Real_data/EDGAR_2014/EGMs.mat
inverse_problem_toolbox/inverse_problem_playground/code_angelica/Lambda optimization/python/tikh_1.npy
inverse_problem_toolbox/inverse_problem_playground/code_angelica/Lambda optimization/python/tikh_2.npy
*.pkl
